body {
    background: darkslategrey;
    font-family: 'Raleway', sans-serif;
}

kbd {
    display: inline-block;
    width: 100px;
    height: 300px;
    background: white;
    font-size: 30px;
    text-align: center;
    border: 2px solid darkgray;
    margin: 1px;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}