body {
    background: darkslategrey;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.white-keys {
    display: flex;
}

.black-keys {
    display: flex;
    position: absolute;
    margin-bottom: 150px;
}

kbd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.white-keys kbd {
    width: 100px;
    height: 300px;
    background: white;
    border: 2px solid darkgray;
    margin: 1px;

    font-size: 30px;
    line-height: 70px;
}

.black-keys kbd {
    width: 50px;
    height: 150px;
    background: black;
    border: 2px solid darkgray;
    margin: 1px 27px;

    color: white;
    font-size: 15px;
    line-height: 35px;
    z-index: 1;
}

#HIDDEN {
    visibility: hidden;
}
